/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/


body {
  font-family: '', sans-serif;
}

:root {
  --color-headings:crimson
  /* ... */

}


/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

/* ... */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: white;
}

article {
  display: flex;
  width: 840px;
  height: 300px;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 2vh;
}

article>h1 {
  align-items: flex-end;
  margin-left: 5vh;
}

article>img {
  margin-left: 5vh;
  margin-top: 5vh;
  width: 200px;
  height: 200px;
}

article article {
  width: 840px;
  height: 240px;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

ol {
  color: white;
  margin-left: 4.5vh;
  margin-top: 20vh;
  list-style: none;
  display: flex;
}

li {
  margin: 1vw;
  margin-left: 2.3vw;
}


li:hover {
  color:rgb(169, 128, 135);
  cursor: pointer;
}

li {
  transition: transform 0.3s ease-in-out;
}

li:hover {
  animation: shake 0.3s ease;
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

/* test */

